
.pageTitle {
    text-align: center;
    font-style: oblique;
    color: maroon;
}

.search {
    display: block;
    background-color: lightgray;
    background-image: url(./assets/race-car-24386__340.webp);
    background-size: 300px;
    background-position: 60vw 7vh;
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
} 

#driverQuery {
    padding-top: 7vh;
    padding-left: 10vw;
}
.tablewrapper {
    display: grid;
     background-color: gainsboro;    
}

.driverHeader{
    border: solid black thin;
    text-align: center;
    font-size: 12;
    
}

.driver{
    border: solid black thin;
    font-size: 12;    
}

.tableRow td{
    border: solid black thin;
    font-size: 12;
    padding-left: 1em;
}
